* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter;
}

hr {
  margin-bottom: 20px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  padding-top: 5%;
  justify-content: space-between;
}
// hero
.hero {
  width: 100%;
  margin-top: 5%;
  position: relative;
}
.hero-text {
  padding-left: 5%;
  width: 70%;
  h2 {
    color: red;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    padding: 10% 0;
  }
  h1 {
    font-weight: 900;
    font-size: 40px;
    padding: 2% 0;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 15% 0;
  }
  button {
    width: 188px;
    height: 75px;
    border-radius: 35px;
    color: black;
    font-weight: 900;
    border: 4px solid;
    border-color: red;
    background: white;
  }
}
.hero-img img {
  position: absolute;
  height: 400px;
  width: 350px;
  top: 50px;
  left: 200px;
}
// upsell css
.upsell {
  margin-top: 15%;
  height: 300px;
  background-image: url(img/background.svg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h2 {
    margin-left: 5%;
    padding-bottom: 5%;
    font-size: 40px;
    font-weight: 500;
  }
  p {
    margin-left: 5%;
    padding-bottom: 5%;
    font-weight: 400;
    size: 20px;
    line-height: 30px;
  }
}

.press {
  margin-top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    width: 130px;
    height: 70px;
    justify-self: center;
  }
}

.showcase {
  padding-top: 15%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
  }
  p {
    padding-top: 5%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
}

.cards {
  margin-left: 5%;
  margin-top: 5%;
  gap: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1280;
  margin-bottom: 100px;
  .card {
    width: 290px;
    height: 400px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    border-radius: 15px;
  }
  .card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    background-color: rgb(230, 227, 227);
  }
}
.card-info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  padding-left: 20%;

  .card-series p {
    color: orange;
  }
  .card-name p {
    font-weight: 700;
  }
}
.card-info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10%;
  padding-right: 20%;

  .card-price {
    display: flex;
    gap: 10px;

    p {
      font-weight: 700;
    }
  }
}

.cards {
  .card-2 {
    display: none;
  }
  .card-3 {
    display: none;
  }
  .card-4 {
    display: none;
  }
}

.hero-2-bottom {
  width: 100%;
  margin-top: 5%;
  position: relative;

  .hero-text-bottom {
    margin-bottom: 50px;
    padding-left: 5%;
    width: 50%;

    h2 {
      color: red;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      padding: 10% 0;
    }

    h1 {
      font-weight: 900;
      font-size: 40px;
      padding: 2% 0;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      padding: 15% 0;
    }

    button {
      width: 188px;
      height: 75px;
      border-radius: 35px;
      color: black;
      font-weight: 900;
      border: 4px solid;
      border-color: red;
      background: white;
    }
  }
}

.hero-img-bottom img {
  position: absolute;
  width: 200px;
  left: 230px;
  top: 130px;
}

.footer-logo {
  margin-bottom: 20px;
  margin-left: 5%;

  img {
    margin-bottom: 20px;
  }
}

.social-media {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  gap: 15px;
  color: gray;
  font-size: 20px;

  margin-bottom: 50px;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-section-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
  margin-left: 5%;

  ul {
    font-weight: 600;
    margin-bottom: 10px;

    li {
      list-style: none;
      padding-top: 10px;

      a {
        text-decoration: none;
        color: gray;
        font-weight: 500;
      }
    }
  }
}

.footer-section-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 50px;

  li {
    list-style: none;
    padding-top: 10px;

    a {
      text-decoration: none;
      color: gray;
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 500px) {
  .header {
    margin-right: 10px;
    margin-left: 10px;
  }

  .hero-text {
    width: 50%;
    h2 {
      padding: 5%;
    }
    h1 {
      padding: 0;
    }
  }

  .upsell {
    height: 200px;
  }

  .press {
    margin-top: 7%;
  }

  .showcase {
    padding-top: 9%;
    display: flex;
    justify-content: center;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .cards {
    margin-left: 20%;
  }

  .hero-img-bottom img {
    left: 307px;
    top: 61px;
  }

  .footer-logo {
    margin-left: 30%;
  }

  .social-media {
    margin-left: 37%;
  }

  .footer-section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-left {
    justify-self: center;
  }
}

@media screen and (min-width: 600px) {
  .hero-img img {
    height: 397px;
    width: 415px;
    top: 4px;
    left: 232px;
  }

  .hero-img-bottom img {
    left: 311px;
    top: 55px;
  }
}

@media screen and (min-width: 700px) {
  .hero-text p {
    padding: 4% 0;
  }
  .cards {
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .card-2 {
      display: grid;
    }
    .card-3 {
      display: grid;
    }
    .card-4 {
      display: grid;
    }
  }

  .hero-img img {
    left: 319px;
  }

  .hero-img-bottom img {
    left: 370px;
    top: 75px;
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .hero-img img {
    display: grid;
    position: unset;
  }

  .upsell {
    margin-top: 7%;
    height: 231px;
  }

  .upsell h2 {
    margin-left: 5%;
    padding-bottom: 1%;
  }

  .upsell p {
    font-size: 25px;
    padding-bottom: 2%;
  }

  .press {
    display: flex;
    justify-content: space-between;
  }

  .showcase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .showcase p {
    padding-top: 3%;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .hero-2-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 1%;
  }

  .hero-img-bottom img {
    position: unset;
    justify-self: center;
  }

  .hero-2-bottom .hero-text-bottom {
    margin-top: 6%;
  }

  .hero-2-bottom .hero-text-bottom h2 {
    padding: 2% 0;
  }

  .hero-2-bottom .hero-text-bottom p {
    line-height: 30px;
    padding: 5% 0;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 200px;
  }

  .social-media {
    grid-row: 2;
    margin-left: 4%;
  }

  .footer-logo {
    margin-left: 3%;
  }
}
